{
    "presets": ["@babel/preset-env", "@babel/preset-react"],
    "plugins": ["@babel/plugin-proposal-export-default-from"],
    "ignore": ["**/spec.js", "**/stories.js", "**/spec.ts", "**/stories.ts"]
}
